
<div class = "container">
    <div class = "header">
        <h1>User Dashboard</h1>
       

    </div>
    <h2 class = "sub-header">List of Surveys</h2>
    <div class = "survey-container" id="survey-container">
        <div *ngFor="let survey of data" class="card" id="'survey-' + survey.id">
            <h3 class="survey-name">{{survey.name}}</h3>
            <p class="survey-description" [routerLink]="['respond', survey.id]">{{survey.description}}</p>
        </div>
    </div>
</div>
<button class="back-btn" routerLink="/role">Back</button>
