<div id = "app">
     <h1>Create a New Survey</h1>
     <div class="survey-input">
        <input id="survey-name" class="survey-name" placeholder="Survey Name">
        <div  class="survey-name-validate" id="survey-name-validate">
        </div>
        <textarea id="survey-description" class="survey-description" placeholder="Enter the survey description"></textarea>
        <div   class="survey-description-validate" id="survey-description-validate">
        </div>
     </div>
     <form id="questionForm"></form>
     <div class="button-div">
        <button class="add-question-btn">Add Question</button>
        <button class="save-survey-btn">Save Survey</button>
        <button class="cancel-survey-btn" routerLink="/admin">Cancel Survey</button>
     </div>
</div>
